body {
  background-color: #a2acaf;
}
.sidebar {
  border: 2px solid red;
  padding: 7px;
  width: 30%;
  float: right;
  background-image: linear-gradient(#ff9ee9, #8cd0ff);
}
img {
  float: left;
}
